@using System.Web.UI.WebControls
@model CondominioFacilDDD.MVC.ViewModels.RuaViewModel

<ul class="breadcrumb">
    VOCÊ ESTA EM:
    <li>
        @Html.ActionLink("Home", "Index", "Home")
    </li>
    <li class="active">
        Residências
    </li>
</ul>
@{
    ViewBag.Title = "Index";
}

<blockquote><h2>Residências</h2></blockquote>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Cadastro</h2>
            <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Create", "Residencias")'">Nova residência</button>
        </div>
        <div class="col-md-4">
            <h2>Listar Residência</h2>

            @using (Html.BeginForm("ListarResidencias", "Residencias"))
            {
                <p><button type=submit class="btn btn-default">Listar todas residências</button></p>
            }

        </div>

       
    </div>
</div>


