@using System.Web.UI.WebControls
@model CondominioFacilDDD.MVC.ViewModels.PropietarioViewModel

<ul class="breadcrumb">
    VOCÊ ESTA EM: 
    <li>
        @Html.ActionLink("Home", "Index", "Home")
    </li>
    <li class="active">
        Propietários
    </li>
</ul>
@{
    ViewBag.Title = "Index";
}

<blockquote><h2>Propietários</h2></blockquote>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Cadastro</h2>
            @Html.ActionLink("Novo Cadastro", "Create")
            @*@using (Html.BeginForm("Create", "Propietarios"))
            {
                <p><input type=submit value="Cadastro de propietário" /></p>
            }*@
            
        </div>
        <div class="col-md-4">
            <h2>Listar Propietários</h2>
           
            @using (Html.BeginForm("ListarPropietarios", "Propietarios"))
            {
                <p><input type=submit value="Lista de todos o propietários" /></p>
            }
            
            @using (Html.BeginForm("Especiais", "Propietarios"))
            {
                <hr />
                <p><input type=submit value="Listar Propietarios Especiais" /></p>
            }
        </div>

        <div class="col-md-4">
            <h2>Buscar propietários</h2>
            
                @using (Html.BeginForm("BuscarNome", "Propietarios"))
                {
                    @Html.TextBoxFor(model => model.Nome, new {htmlAttributes = new { @class = "form-control" } ,PlaceHolder="Digite um nome" })
                    @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                    <hr/>
                    <p><input type=submit value="Buscar" /></p>
                }
            
                
            
                


    </div>
    </div>
</div>


